@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --colorDark1: #112D4E;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: #112d4e;
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
    color: var(--colorLight2);
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    height: 100%;   
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

#title {
    margin-top: 2rem;
    letter-spacing: 1.75px;
    word-spacing: 2px;
}

.weather-tabs {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
    max-width: 550px;    
}

.tab {
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
    color: var(--colorLight2);
    border: none;
}

.tab.current-tab {
    border-radius: 4px;
    background-color: rgba(219, 226, 239, 0.5);
}

.User-Weather-Data {
    margin-block: 4rem;
    display: none;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.875rem 0; */
}

.User-Weather-Data.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.875rem 0;
    margin-block: 4rem;
}

.search {
    display: none;
    /* display: flex; */
    width: 90%;
    max-width: 550px;
    gap: 0 10px;
    margin: 4rem auto;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
}

.search.active {
    display: flex;
}

#searchWeatherInput {
    all: unset;
    text-align: left;
    width: calc(100% - 80px);
    height: 40px;
    padding: 0 20px;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 10px;
}

#searchWeatherInput:focus {
    outline: 3px solid rgba(255, 255, 255, 0.7);
}

#searchWeatherInput::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#searchWeatherBtn {
    all: unset;
    font-size: 1.35rem;
    text-transform: uppercase;
    border-radius: 100%;
    cursor: pointer;
    background-color: var(--colorDark2);
    width: 40px;
    height: 40px;
}

#searchWeatherBtn img {
    object-fit: contain;
}

.parameter-container {
    display: flex;
    width: 90%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin: 0 auto;
    margin-top: 2rem;
}

.parameter {
    width: 200px;
    height: 154px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: rgba(219, 226, 239, 0.5);
    gap: 5px 0;
}

.parameter h4 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 100;
}

.parameter p {
    font-size: 1.5rem;
    font-weight: 100;
}

.grantAccess {
    display: none;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem; */
}

.grantAccess.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.grantAccess h3 {
    font-size: 1.75rem;
    margin-top: 30px;
}

.grantAccess p {
    font-size: 0.95rem;
    color: var(--colorLight1);
    margin-top: 10px;
}

#grantAccessBtn {
    all: unset;
    padding: 10px 30px;
    margin-top: 25px;
    border-radius: 5px;
    background-color: var(--colorDark2);
    text-transform: uppercase;
    font-size: small;
    cursor: pointer;
}

.loader-container {
    display: none;
}

.loader-container.active {
    display: block;
    margin: 0 auto;
}

.loader-container p {
    text-transform: uppercase;
}

.api-error-container {
    display: none;
}

.api-error-container.active {
    display: flex;
    gap: 1rem 0;
}

.api-error-container p {
    text-align: center;
}

.api-error-container img {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

#cityAndFlag {
    display: flex;
    gap: 0 10px;
    align-items: center;
}

#cityAndFlag p {
    font-size: 2rem;
}

#cityAndFlag img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

#description {
    font-size: 1.5rem;
    font-weight: 100;
}

#descImg {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

#tempData {
    font-size: 2.5rem;
}


